h1{
    font-size: 4vh;
}

.inputContainer {
    display: flex;
    flex-wrap: nowrap;
}

#mazeGrid {
    font-size: 0;
    width: fit-content;
    height: fit-content;
    display: grid;
    border: 0.3vh solid black;
}

.mazeCell {
    margin: 0;
    border: solid white min(0.1vh, 0.1vw);
}

.leftBorder {
    border-left: solid black min(0.1vh, 0.1vw);
}

.rightBorder {
    border-right: solid black min(0.1vh, 0.1vw);
}

.topBorder {
    border-top: solid black min(0.1vh, 0.1vw);
}

.bottomBorder {
    border-bottom: solid black min(0.1vh, 0.1vw);
}

#generateButton {
    margin: 10px;
    font-size: 2vh;
}